html {
    overflow-y: scroll;
}
body {
    border: 0 none;
    line-height: 1.4; /* 1.4 es la altura de linea defaoult de Google*/
    font-size: small; /* small es la altura de linea defaoult de Google*/
    font-family: Arial; 
    font-weight: bold;
    padding: 0% !important;
    background-color: #dae8ec;
}
#titulo{
    background-image: url("img/trigo_pan_4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
    text-align: center; 
    font-family: Arial; 
    font-size: xx-large;
    margin-top:	0%;
    margin-bottom:	0%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
font-weight: bold;
    color: black;
    text-shadow: 0px 0px 5px white; /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
}
h2 {
    text-align: center; 
    font-family: Serif;
    font-size: large;
    margin-top:	-0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    /*font-weight: bold;*/
    color: white;
    text-shadow: 1px 1px 5px black, -1px -1px 5px black; /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/		
}	
h3 {
font-size: small;
font-weight: bold;
line-height: 1.4;
    text-align: justify;
}
h4{
    text-align: center;
}
h5{
    text-align: center; 
    font-family: Arial; 
    font-weight: bold;
    font-size: large;
    margin-top:	-0.10%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    color: black;
}
#comentarios, #articulos {
    text-align:left;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;		
    font-weight: bold;
}
.container {	
    margin-bottom: 2%;
}
.gyt {
    margin-top: -4%;
}
#form3, #form5 {
    margin-top: 6%;
}
.linkform {
    padding: 0px !important;
    margin:1rem 0 .5rem 0;;
    font-weight: bold;
    line-height: 1.4;
}
#label1 {
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
}
p {
margin-top: 1rem;     /* PEA: Dejo el doble de margen para que se vea bien en el celu */
    margin-bottom: 0.5rem; /* PEA: Es el margen de los controles de google chart */
    padding-left: 0.5%; /*PEA: para que se vea bien en celu*/
    padding-right: 0.5%; /*PEA: para que se vea bien en celu*/		
}	
a {
    cursor: pointer; /*Estable el estilo del mouse sobre los links*/
}
#figura, #tabla {
    margin: auto;
    width: max-content;
    border: 1px solid #a9a9a9;
    background: white; /*Para resolver problemas con Mozilla*/
}
/* PEA: misma altura y color para todos los controles desplegables*/
#lugar, #anios, #manejos, #epocas {
height: 26px;
    border: 1px solid #a9a9a9;
}
#epocas{ /*PEA: Definen el ancho de los controles antes de que se carguen*/
    width: 110px;
}
.button, input, optgroup, select, textarea {
font-weight: bold;
}
.charts-menu-button-inner-box {
/*background: #fefefe;  */
    background: white;  
}
.botonmodal {
    padding: 0 1%;
    height: 24px;
    font-size: small;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}
.botoninmodal {
    padding: 0 1%;
    height: 24px;
    font-size: small;
    display: block;
    margin: auto;
}
#tabla1 {
    background: #fefefe;
    border: 1px solid #a9a9a9;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%; /*Para alinear con los otros controles*/
}
#tabla1 .table {
    border-collapse: collapse;
}	
#footer {
    width: 100%;
    height: 3%;
    background-color:#00577B;
}
#ultima_actualizacion, #pfooter {
    padding: .5% 5% .5% 5%;
    color: white;
}
:focus {
    outline: none;
}
#banner {
    text-align: center;
    width: 100%;
}
.images {
    display: inline-block;
    margin: 0 2.10%;
}
/* VERSION MOVIL */
@media (min-width: 400px) {
    #lugar, #tabla1 { /*PEA: Define el ancho de los controles antes de que se carguen*/
        width: 400px;
    }
}
@media (max-width: 400px) {
    #lugar, #tabla1 { /*PEA: Define el ancho de los controles antes de que se carguen*/
        width: 100%;
    }
}
@media (max-width: 800px) {
    #figura, #tabla, #lugar { /*PEA: Define el ancho de los controles antes de que se carguen*/
        max-width: 100%;
    }
    h1 {
        padding-left: 5%;
        padding-right: 5%;
        font-size: large;
        font-weight: bold;
    }
    h2, h5 {
        font-family: Arial; 
        font-size: small;
        padding-left: 5%;
        padding-right: 5%;
    }
    h3 {
        font-size: small;
        text-align: left;			
    }
    .comentarios {
        margin-left: 5%;
        margin-right: 5%;
    }
    #form3, #form5 {
        margin-top: 0%;
    }
}
